<?php
// Copy this file to config.php, edit and uncomment the constants below

/*
define('GATEWAY_TYPE', 'Clickatell');
define('GATEWAY_PARAMS', [
    'apiKey' => 'CHANGEME',
//    'from' => 'CHANGEME', // Supported only for 2-way messaging
]);
*/

/*
define('GATEWAY_TYPE', 'Clockwork');
define('GATEWAY_PARAMS', [
    'key' => 'CHANGEME',
    'from' => 'CHANGEME',
]);
*/

/*
define('GATEWAY_TYPE', 'Budgetsms');
define('GATEWAY_PARAMS', [
    'username' => 'CHANGEME',
    'userid' => 'CHANGEME',
    'handle' => 'CHANGEME',
    'from' => 'CHANGEME',
]);
*/

/*
define('GATEWAY_TYPE', 'Infobip');
define('GATEWAY_PARAMS', [
    'username' => 'CHANGEME',
    'password' => 'CHANGEME',
    'from' => 'CHANGEME',
]);
*/